<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @iniciativa.contrato_id %></h1>
    <a href="<%= url_for :action => :show, :id => @iniciativa.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @iniciativa.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @iniciativa.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="iniciativa[contrato_id]" class="fieldLabel">Contrato</label>
            <input type="text" id="iniciativa[contrato_id]" name="iniciativa[contrato_id]" value="<%= @iniciativa.contrato_id %>" <%= placeholder( "Contrato" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="iniciativa[compromiso]" class="fieldLabel">Compromiso</label>
            <input type="text" id="iniciativa[compromiso]" name="iniciativa[compromiso]" value="<%= @iniciativa.compromiso %>" <%= placeholder( "Compromiso" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="iniciativa[created_at]" class="fieldLabel">Created at</label>
            <input type="text" id="iniciativa[created_at]" name="iniciativa[created_at]" value="<%= @iniciativa.created_at %>" <%= placeholder( "Created at" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="iniciativa[modified_at]" class="fieldLabel">Modified at</label>
            <input type="text" id="iniciativa[modified_at]" name="iniciativa[modified_at]" value="<%= @iniciativa.modified_at %>" <%= placeholder( "Modified at" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
