<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Avances por &aacute;rea</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :index %>">Area <span class="right-li fuente-gris"><%= @area.nombre %></span></a></li>
    </ul>
    <div class="elemento-lista-container fix-ul-top-margin-border"> 
      <div class="elemento-lista-left-container fix-ul-top-innerdiv-margin">Tipo de datos</div>
      <div class="right-li fuente-gris">N&deg; personas</div>
    </div>
    <div class="fix-margin fix-padding border-bottom">
      <div class="dotacion-efecto">Dotaci&oacute;n base (<%= @fecha_base %>) <span class="dato"><%= @dotacion_efectos[:dotacion_base] %></span></div>
      <div class="dotacion-efecto efecto fuente-gris">Efecto recategorizaci&oacute;n <span class="dato"><%= @dotacion_efectos[:recategorizacion] %></span><span class="<%= get_color_cuadro(@p_recat) %> cuadro-efecto fuente-85"><%= @p_recat %>%</span></div>
      <div class="dotacion-efecto efecto fuente-gris">Efecto gesti&oacute;n dotacional <span class="dato"><%= @dotacion_efectos[:gestion_dotacional] %></span><span class="<%= get_color_cuadro(@p_g_dot) %> cuadro-efecto fuente-85"><%= @p_g_dot %>%</span></div>
      <div class="dotacion-efecto efecto fuente-gris">Efecto nuevos ingresos-egresos <span class="dato"><%= @dotacion_efectos[:nuevos_ingresos_egresos] %></span><span class="<%= get_color_cuadro(@p_ingr_egre) %> cuadro-efecto fuente-85"><%= @p_ingr_egre %>%</span></div>
      <div class="dotacion-efecto">Dotaci&oacute;n actual <span class="dato"><%= @dotacion_efectos[:dotacion_actual] %></span><span class="<%= get_color_cuadro(@p_avance) %> cuadro-efecto fuente-85"><%= @p_avance %>%</span></div>
    </div>
    <div class="fix-margin fix-padding border-bottom vertical-middle-container">
      <div class="vertical-middle">KPI&#39;s</div>
    </div>
    <div class="fix-margin fix-padding">
      <div class="dotacion-efecto">Gesti&oacute;n dot. / Compromiso <span class="fuente-gris fuente-70 razon-kpi"><%= "#{@dotacion_efectos[:gestion_dotacional]} / #{@area.compromiso_reduccion}" %></span><span class="avance-kpi fuente-85 fix-top-dotacion-efecto"><%= "#{@avance_g_dot_compromiso}" %>%</span><span class="cuadro-efecto cuadro-pequeno fix-top-dotacion-efecto verde"></span></div>
      <div class="dotacion-efecto">Inic. realizadas / Compromiso <span class="fuente-gris fuente-70 razon-kpi"><%= "#{9} / #{@area.compromiso_iniciativas}" %></span><span class="avance-kpi fuente-85 fix-top-dotacion-efecto"><%= "#{@avance_iniciativas_compromiso}" %>%</span><span class="cuadro-efecto cuadro-pequeno fix-top-dotacion-efecto verde"></span></div>
      <div class="dotacion-efecto">Compromiso / Dot. base <span class="fuente-gris fuente-70 razon-kpi"><%= "#{@area.compromiso_reduccion} / #{@dotacion_efectos[:dotacion_base]}" %></span><span class="avance-kpi fuente-85 fix-top-dotacion-efecto"><%= "#{@compromiso_dot_base}" %>%</span><span class="cuadro-efecto cuadro-pequeno fix-top-dotacion-efecto"></span></div>
    </div>  
    
  </div>
  

</div>
