<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Avances por empresa</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :lista_empresas, :query => {:back_id => @empresa.object} %>">Empresa <span class="right-li fuente-gris"><%= @empresa.nombre %></span></a></li>
    </ul>
    <div class="elemento-lista-container fix-ul-top-margin-border"> 
      <div class="elemento-lista-left-container fix-ul-top-innerdiv-margin">Tipo de datos</div>
      <div class="right-li fuente-gris">N&deg; personas</div>
    </div>
    <div class="fix-margin fix-padding border-bottom">
      <div class="dotacion-efecto">Dotaci&oacute;n base (<%= @fecha_base %>) <span class="dato"><%= @dotacion_efectos[:dotacion_base] %></span></div>
      <div class="dotacion-efecto efecto fuente-gris">Efecto recategorizaci&oacute;n <span class="dato"><%= @dotacion_efectos[:recategorizacion] %></span><span class="<%= get_color_cuadro(@p_recat) %> to-max-right cuadro-efecto fuente-85"><%= @p_recat %>%</span></div>
      <div class="dotacion-efecto efecto fuente-gris">Efecto gesti&oacute;n dotacional <span class="dato"><%= @dotacion_efectos[:gestion_dotacional] %></span><span class="<%= get_color_cuadro(@p_g_dot) %> to-max-right cuadro-efecto fuente-85"><%= @p_g_dot %>%</span></div>
      <div class="dotacion-efecto efecto fuente-gris">Efecto nuevos ingresos-egresos <span class="dato"><%= @dotacion_efectos[:nuevos_ingresos_egresos] %></span><span class="<%= get_color_cuadro(@p_ingr_egre) %> to-max-right cuadro-efecto fuente-85"><%= @p_ingr_egre %>%</span></div>
      <div class="dotacion-efecto">Dotaci&oacute;n actual <span class="dato"><%= @dotacion_efectos[:dotacion_actual] %></span><span class="<%= get_color_cuadro(@p_avance) %> to-max-right cuadro-efecto fuente-85"><%= @p_avance %>%</span></div>
    </div>
    <div class="fix-margin fix-padding">
      <div class="dotacion-efecto">N&deg; iniciativas comprometidas <span class="to-max-right">1</span></div>
      <div class="dotacion-efecto">Responsable <span class="to-max-right"><%= @empresa.responsable %></span></div>
    </div>  
    
  </div>
  

</div>