<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @riesgo.nemo %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Atr&aacute;s
    </a>
  </div>

  <div data-role="content">
  
    <div class="prob-impacto-container">
        <div class="prob-container">
          <div class="prob">
            Probabilidad <span class="nivel fuente-gris nivel-left"><%= @riesgo.get_level_probabilidad %><span class="cuadro <%= get_color_from_percentage(100 - @riesgo.probabilidad.to_i) %>"></span></span>
          </div>
        </div>
        <div class="impacto-container">
          <div class="impacto">
            Impacto <span class="nivel fuente-gris nivel-right"><%= @riesgo.get_level_impacto %><span class="cuadro <%= get_color_from_percentage(100 - @riesgo.impacto.to_i) %>"></span></span>
          </div>
        </div>
    </div>
    
    <div class="descripcion-container fuente-gris">
        <%= @riesgo.descripcion %>
    </div>
    
    <div class="planes-cont-container">
      <header>Planes de contingencia</header>
      <% @planes_contingencia.each do |plan_contingencia| %>
        <p class="fuente-gris"><%= plan_contingencia.descripcion %></p>
      <% end %> 
    </div>
     
  </div>
  

</div>
